nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: #0074d9;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}
nav ul li a:not(.active):hover{
    background-color: gainsboro;
}
.active{
    background-color: #0074d9;
    color: #ffffff;
}
