*{
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}
.titulos{
  padding: 10px;
    margin: 10px;
    margin-left: 0px;
    width: 80%;
    border: 3px solid #ff851b;
    border-style: solid solid solid none;
    border-radius: 0 20vw 20vw 0;
    font-size: 24px;
    color: #0074d9;
}
.busquedaProducto{
  font-size: 18px;
  border-color: #0074d9;
  
}